@use"../variables" as v ;

h3{
    font-family: v.$font-family;
    color: v.$white;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px,solid v.$gray
    
};
main{
 display: flex;
 flex-direction: column;  
 align-items: center;
   
}
.container_menu{
    display: flex;
    flex-direction: row;
    margin: 0.6rem
    
}
.menu_1{
    margin: 0.6rem
}
.menu_2{
    margin: 0.6rem
}
.menu_3{
    margin: 0.6rem
}
#framework_1{
    padding: 0.25rem 1.25rem;
    background-image:v.$main-bg ;
    border-radius: 0.625rem;
    font-family: v.$font-family;
    font-weight: bold;
    font-size: 0.95rem; 
    color: v.$white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.025rem;   
        option{
            font-family: v.$font-family;
            font-weight: bold;
            font-size: 0.85rem; 
            cursor: pointer;
        }          
}
#framework_1 option{
    color:v.$text;
    cursor: pointer;

}

#framework_2{
    padding: 0.25rem 1.25rem;
    background-image:v.$main-bg ;
    border-radius: 0.625rem;
    font-family: v.$font-family;
    font-weight: bold;
    font-size: 0.95rem; 
    color: v.$white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.025rem;   
        option{
            font-family: v.$font-family;
            font-weight: bold;
            font-size: 0.85rem; 
            cursor: pointer;
        }          
}
#framework_2 option{
    color:v.$text;
    cursor: pointer;

}
#framework_3 {
    padding: 0.25rem 1.25rem;
    background-image:v.$main-bg ;
    border-radius: 0.625rem;
    font-family: v.$font-family;
    font-weight: bold;
    font-size: 0.95rem; 
    color: v.$white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.025rem;   
        option{
            font-family: v.$font-family;
            font-weight: bold;
            font-size: 0.85rem; 
            cursor: pointer;
        }          
}
#framework_3 option{
    color:v.$text;
    cursor: pointer;

}

fieldset{
    font-family: v.$font-family;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px,solid v.$gray;
    color: #fef2f2;
    font-size: 15px;
    width: 100%;
    .Lista_conceptos{        
        padding: 1rem;
        margin: 0.5rem;
        font-family: v.$font-family;
        :hover{
           background-color: #fef2f2;
           color:#470a14;
           font-weight: bold;
        }
       
    }
}