@use"../variables" as v ;


.container_button{
    display: flex;
    flex-direction: column;  
    align-items: center;   
      
   }
button{
    background-color: #470a14;
    color : #fef2f2;
    padding: 0.8rem 1rem;
    font-family: v.$font-family;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 6rem;
    justify-self: center;
    margin-top: 1rem;
    :hover{
        cursor: pointer;
    }
}
.resultado{
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: v.$font-family;
    color: #fad1d2;
    font-weight: bold;
}
