@use"../variables" as v ;

.direcion{
    display: flex;
    flex-direction: column;  
    align-items: center;
 
}
h2{
    font-family: v.$font-family;
    color: v.$white;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px
}
.label{
    padding: 0.25rem 1.25rem;    
    border-radius: 0.625rem;
    font-family: v.$font-family;
    font-weight: bold;
    font-size: 0.95rem; 
    color: v.$white;
    width: 90vw;
}
label{
    font-family: v.$font-family;
    color: v.$white;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px
}
.img_2{
    display: flex;
    align-items: center;
    width: 60%;

}

