// Fonts
$font-family: "Montserrat", sans-serif;

// Colors
$white: #fff;
$gray: #525252;
$error: #d14167;
$text : #16003c;

// Background
$container-bg: linear-gradient(
 to right top,
 #16003c,
 #1b0346,
 #230351,
 #2b025b, 
 #330066);

$main-bg: linear-gradient(
 to bottom, 
  #330066,
  #36006f,
  #390079,
  #3b0083,
  #3d008d
);

// Shadows
$main-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
